@font-face {
  font-family: Sansation;
  src: url(/assets/fonts/Sansation-Bold.ttf);
}

body {
  font-family: yekan;
  font-style: oblique;
  font-weight: bolder;
  height: 100vh;
  background-color: rgb(182, 210, 247);
  text-align: center;
  font-family: Sansation;
  padding: 30px;
}

/* Registration Form Style */
.registerSection {
  width: 90%;
  padding: 20px;
  display: inline-block;
  text-align: justify;
  border-radius: 15px;
  text-align: center;
}

.registerSection h1 {
  font-size: 20px;
  display: inline-block;
  background: linear-gradient(to right, #faff00, #00e0ff);
  background-clip: text;
  color: rgba(0, 0, 0, 0.258);
}

.container {
  background: white;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form select, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1em;
}

form input {
  display: block;
  width: 375px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1em;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: inherit;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
  background: #0056b3;
}

.overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

p {
  margin: 10px 0;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 30px;
  border-radius: 10px;
  z-index: 10;
  min-width: 300px;
  max-width: 90%;
  border: 1px solid blue;
}

.modal ol li{
  margin-top: 2rem;
  border: 1px solid #00e0ff;
  text-align: left;
  direction: ltr;
  padding-left: 0.5rem;
}

.modal h3{
  text-align: left;
}

.modal p{
  text-align: left;
}